<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="!showSearch">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="text-center">
      <ion-text>
        <span class="logo">
          <ion-icon name="logo-react"></ion-icon>
        </span>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>
