<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="showSearch = !showSearch">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="text-center">
      <ion-text>
        <span class="logo">
          <ion-icon name="logo-react"></ion-icon>
        </span>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Custom Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item *ngFor="let item of menuList" (click)="openEnd()" [routerLink]="item.url">
          <ion-icon class="ion-padding-end" [name]="item.icon"></ion-icon> {{ item.title }}
        </ion-item>
        <ion-item (click)="presentAlertConfirm()">
          <ion-icon class="ion-padding-end" name="log-out-outline"></ion-icon> Sair
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">

      <ion-fab-button color="warning">
        <ion-icon name="bulb-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-button color="tertiary">
        <ion-icon name="list-outline"></ion-icon>
      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>


  <ion-router-outlet id="main"></ion-router-outlet>

  <ion-searchbar *ngIf="showSearch" debounce="500" enterkeyhint="enter" type="search" spellcheck #input></ion-searchbar>

</ion-content>
