<app-main-header></app-main-header>

<ion-content [fullscreen]="true">

  <ion-menu side="start" slot="fixed" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-content>
      <ion-list>
        <ion-item>
          <div>
            <ion-text color="dark">
              <h3 class="fw-bold ion-padding-bottom">
                Olá, {{ user?.name }}!
              </h3>
            </ion-text>
          </div>
        </ion-item>
        <ion-item *ngFor="let item of menuList" (click)="openEnd()" [routerLink]="item.url">
          <ion-icon class="ion-padding-end" [name]="item.icon"></ion-icon> {{ item.title }}
        </ion-item>
        <ion-item (click)="presentAlertConfirm()">
          <ion-icon class="ion-padding-end" name="log-out-outline"></ion-icon> Sair
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">

      <ion-fab-button color="warning">
        <ion-icon name="bulb-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-button routerLink="/create/todo" color="tertiary">
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>


<ion-router-outlet id="main"></ion-router-outlet>

<ion-searchbar *ngIf="showSearch" debounce="500" enterkeyhint="enter" type="search" spellcheck #input></ion-searchbar>

<ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
  <ion-reorder *ngFor="let todo of todos">
    <ion-item>
      <ion-label>
        {{ todo.id }} - {{ todo.title }}
      </ion-label>
    </ion-item>
  </ion-reorder>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-reorder-group>
</ion-content>
